/* 
TODO :


*/

/* LES HAUTEURS */

html, body {
    height: 100%;
    
}
body {
    min-height: 100%;
}

.grey {
    background: #b3c2ce;
}

#homeContent { /*image*/
    min-height: 95%;
}

/* class generaliste */

.no-padding{
    padding: 0;
    margin: 0;
}

* {
    color: white;
}

/* contenue inscription*/
.inscript_back {
    background: url(../../img/lotl_background.jpg) no-repeat;
    background-size: cover;
}
.title_inscipt {
    text-align: center;
}
/* Contenu central */
 #homeContent {
     padding-top: 10px;
     background: url(../../img/background_groupe.jpg) no-repeat center;
     overflow-x: hidden;
     background-size: cover;
}

#titleHome {
    padding-top: 100px;
    
}
.texte{

    text-shadow:0px 0px 12px black;
    color:#FFFFFF;
    letter-spacing:2pt;
    word-spacing:2pt;
    font-family:impact, sans-serif;
    line-height:1;
    margin:0px;
    
    
}
.bienvenue{
    font-size: 54px;
}
.norm_ltr {
    font-size:72px;
}
.tiny_ltr {
   font-size:38px; 
}
.under_title{
    font-style: italic;
    font-family: cursive;
    color: white;
    word-spacing:0pt;
    font-style: italic;
    text-shadow:0px 0px 8px black;
    font-size:24px; 
}
#quote {
    padding-top: 7em;
    padding-right: 5em;
}


.btn-navbut { 
  color: #ffffff; 
  background-color: #37566E; 
  border-color: cadetblue; 
} 
 
.btn-navbut:hover, 
.btn-navbut:focus, 
.btn-navbut:active, 
.btn-navbut.active, 
.open .dropdown-toggle.btn-navbut { 
  color: dodgerblue; 
  background-color: #37566E; 
  border-color: cadetblue; 
} 
  
 
.btn-navbut:active, 
.btn-navbut.active, 
.open .dropdown-toggle.btn-navbut { 
  background-image: none; 
} 
 
.btn-navbut.disabled, 
.btn-navbut[disabled], 
fieldset[disabled] .btn-navbut, 
.btn-navbut.disabled:hover, 
.btn-navbut[disabled]:hover, 
fieldset[disabled] .btn-navbut:hover, 
.btn-navbut.disabled:focus, 
.btn-navbut[disabled]:focus, 
fieldset[disabled] .btn-navbut:focus, 
.btn-navbut.disabled:active, 
.btn-navbut[disabled]:active, 
fieldset[disabled] .btn-navbut:active, 
.btn-navbut.disabled.active, 
.btn-navbut[disabled].active, 
fieldset[disabled] .btn-navbut.active { 
  background-color: #37566E; 
  border-color: #FFFFFF; 
} 
 
.btn-navbut .badge { 
  color: #37566E; 
  background-color: #ffffff; 
}


/* A MODIFIER UNE FOIS CONTENU AJOUTER DANS LA PAGE*/
blockquote { 
  padding: 300px 20px 20px 10px;
}

/* FOOTER Layout_Home */
#footerHome {
    min-height: 5%;
    background: #222222;
}

.hauteurFooter {
    padding-top: 10px;
}



/* Inscription1 */
.wrappInscr {
    background: rgba(240, 249, 255, 0.7);
    padding: 2% 0;
}

#avatarInscr {
    margin: 10% 0;
    border: 4px solid #3c2f2f;
}

#bouton {
    margin: 10% 0;
}

.inscr2, h1, label {
    color: black;
}

.jumbotron h1, p{
    color: black;
}

.form-control {
	border: 2px solid #3c2f2f;
}
/* Fin inscription 1*/


/* FENETRE MODALE */
.modal-backdrop {
    z-index: 0;
}

.black {
    color: black;
}

.recup_mdp:hover {
    cursor: pointer;
    /* text-decoration: underline;*/
    color: red;
}

.lien {
    color: #FFF;
}

.lien:hover {
    color: red;
    text-decoration: none;
}

.espacement2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.marginTop5Bottom10 {
    margin-top: 5%;
    margin-bottom: 10%;
}